@page "/CVDetail/{JobId:int}"
@inherits CVDetailBase
@attribute [Authorize]
<br />
<h2>Details for the job </h2>

@if (Job != null) {
    <table class="table table-striped table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Job id: </b></td>
                <td><p>@Job.JobId</p></td>
            </tr>
            <tr>
                <td><b>Company Name: </b></td>
                <td><p>@Job.CompanyName</p></td>
            </tr>
            <tr>
                <td><b>Work in the periode: </b></td>
                <td><p>@Job.StartDate - @Job.EndDate</p></td>
            </tr>
            <tr>
                <td><b>Work experience: </b></td>
                <td>
                    @if (Job.WorkExperiences != null) {
                        @foreach (var experience in Job.WorkExperiences) {
                            <p>
                                Work Experience Id: @experience.Id <br />
                                <b>Titel: @experience.Titel </b><br />
                                From @experience.FromDate to @experience.EndDate<br />
                                Description:<br />
                                @experience.Description<br />
                            </p>
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>
} else {
    <h1>Loading...</h1>
}



