@page "/WhoAmI"
@inherits WhoAmIBase
@attribute [Authorize]
@using Forward.Components
<br />
<h2 class="page-title">Who Am I</h2>

<table class="table table-striped table-sm table-hover">
    <tbody>
        <tr>
            <td width="30%"><img src="/images/mig.jpg" alt="Me"></td>
            <td width="70%" align="left">
                <ul>
                    <li>Rolle:   Softwareudvikler</li>
                    <li>Telefon: 24 86 23 86</li>
                    <li>Mail:    Ziro776@gmail.com</li>
                    <li>GitHub:	 https://github.com/ziro7</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<h2>Karriereforløb</h2>
@if (Jobs == null || Jobs[0].StartDate == DateTime.MinValue) {
    <p><em>Loading...</em></p>
} else {
    <table class="table table-striped table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th colspan="4"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Jobs.Count(); i++) {
                @if (i % 2 == 1) {
                    <tr>
                        <td width="30%"><b>@Jobs[i].CompanyName <br /> @Jobs[i].StartDate.ToShortDateString() - @Jobs[i].EndDate.ToShortDateString()</b></td>
                        <td colspan="2" width="60%">
                            @foreach (var item in Jobs[i].WorkExperiences) {
                                <p>
                                    <u> @item.Titel - From: @item.FromDate.ToShortDateString() to: @item.EndDate.ToShortDateString()</u><br />
                                    @item.Description
                                    <br>
                                </p>
                            }
                        </td>
                        <td width="10%">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="@($"CVDetail/{Jobs[i].JobId}")" class="btn btn-primary btn-sm">View</a>
                                <a href="@($"EditCV/{Jobs[i].JobId}")" class="btn btn-primary btn-sm">Modify/Delete</a>
                            </div>

                        </td>
                    </tr>
                } else {
                    <tr>
                        <td colspan="2" width="60%">
                            @foreach (var item in Jobs[i].WorkExperiences) {
                                <p>
                                    <u> @item.Titel - From: @item.FromDate.ToShortDateString() to: @item.EndDate.ToShortDateString()</u><br />
                                    @item.Description
                                    <br />
                                </p>
                            }
                        </td>
                        <td width="30%"><b>@Jobs[i].CompanyName <br />@Jobs[i].StartDate.ToShortDateString() - @Jobs[i].EndDate.ToShortDateString()</b></td>
                        <td width="10%">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="@($"CVDetail/{Jobs[i].JobId}")" class="btn btn-primary btn-sm">View</a>
                                <a href="@($"EditCV/{Jobs[i].JobId}")" class="btn btn-primary btn-sm">Modify/Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
<br />
<button @onclick="@AddNewJob" class="btn btn-dark">Add new Job</button>
<AddJobDialog @ref="AddJobDialog" CloseEventCallback="@AddJobDialog_OnDialogClose"></AddJobDialog>
<br />
<br />
<h2>Uddannelse</h2>
<p>
    <ul>
        <li>2019	AU i IT, Smartlearning.dk (cphbusiness)</li>
        <li>2007	Cand.Merc.Fin (Hovedopgave mangler), Handelshøjskolen i Århus</li>
        <li>2004	HA in Economics and business administration, Handelshøjskolen i Århus</li>
        <li>2001	HHX, Handelsskolen i Randers.</li>
    </ul>
</p>

