@page "/WhoAmI"
@inherits WhoAmIBase
@using Microsoft.AspNetCore.Html

<h1 class="page-title">Who Am I</h1>

<table>
    <tbody>
        <tr>
            <td><img src="/images/mig.jpg" alt="Me"></td>
            <td colspan="2">
                <ul>
                    <li>Rolle:   Softwareudvikler</li>
                    <li>Telefon: 24 86 23 86</li>
                    <li>Mail:    Ziro776@gmail.com</li>
                    <li>GitHub:	 https://github.com/ziro7</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<h2>Karriereforløb</h2>
@if (Jobs == null || Jobs[0].StartDate == DateTime.MinValue)  {
        <p><em>Loading...</em></p>
    } else {
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Jobs.Count(); i++) {
                    @if (i % 2 == 1) {
                        <tr>
                            <td width="33%"><b>@Jobs[i].CompanyName <br /> @Jobs[i].StartDate.ToShortDateString() - @Jobs[i].EndDate.ToShortDateString()</b></td>
                            <td colspan="2" width="67%">
                                @foreach (var item in Jobs[i].WorkExperiences) {
                                    <p>
                                        <u> @item.Titel - From: @item.FromDate.ToShortDateString() to: @item.EndDate.ToShortDateString()</u><br />
                                        @item.Description
                                    <br></p>
                                    }
                            </td>
                        </tr>
                    } else {
                        <tr><td colspan="2" width="67%"> 
                                @foreach (var item in Jobs[i].WorkExperiences) {
                                    <p>
                                        <u> @item.Titel - From: @item.FromDate.ToShortDateString() to: @item.EndDate.ToShortDateString()</u><br />
                                        @item.Description
                                        <br /></p>
                                }
                            </td>
                            <td width="33%"><b>@Jobs[i].CompanyName <br />@Jobs[i].StartDate.ToShortDateString() - @Jobs[i].EndDate.ToShortDateString()</b></td>
                        </tr>
                        }
                    }
            </tbody>
        </table>
    }

<br />
<h2>Uddannelse</h2>
<p>
    <ul>
        <li>2019	AU i IT, Smartlearning.dk (cphbusiness)</li>
        <li>2007	Cand.Merc.Fin (Hovedopgave mangler), Handelshøjskolen i Århus</li>
        <li>2004	HA in Economics and business administration, Handelshøjskolen i Århus</li>
        <li>2001	HHX, Handelsskolen i Randers.</li>
    </ul>
</p>

