@page "/EditCV"
@page "/EditCV/{JobId}"
@inherits EditCVBase

@if (Job != null) {
    <section>
        @if (!IsSaved) {
            <br />
        <h3>EditCV</h3>
        <br />

        <EditForm Model="@Job" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label>Company Name:</label>
                <InputText @bind-Value="@Job.CompanyName" class="form-control" />
                <ValidationMessage For="@(() => Job.CompanyName)" />
            </div>

            <div class="form-group">
                <label>From Date:</label>
                <InputDate @bind-Value="@Job.StartDate" class="form-control" />
            </div>

            <div class="form-group">
                <label>To Date:</label>
                <InputDate @bind-Value="@Job.EndDate" class="form-control" />
            </div>

            <br />
            @foreach (var experience in Job.WorkExperiences) {
                <div class="form-group">
                    <label>WorkExperience - Titel:</label>
                    <InputText @bind-Value="@experience.Titel" class="form-control" />
                </div>
                <div class="form-group">
                    <label>WorkExperience - From Date:</label>
                    <InputDate @bind-Value="@experience.FromDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label>WorkExperience - To Date:</label>
                    <InputDate @bind-Value="@experience.EndDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label>WorkExperience - Description (optional):</label>
                    <InputTextArea @bind-Value="@experience.Description" class="form-control" rows="4"/>
                </div>
                <br />
                <button class="btn btn-danger" @onclick="@(()=> DeleteWorkExperience(@experience))">Delete WorkExperiences</button>
            }

            @if (Job.JobId > 0) {
                <button class="btn btn-success" @onclick="@AddWorkExperience">Add WorkExperiences</button><br />
                <br />
                <button class="btn btn-danger" @onclick="@DeleteJob">Delete Job</button>
            }
            @if (Message != string.Empty && IsSaved == false) {
                <div class="alert @StatusClass">@Message</div>
            }
            <button type="submit" class="btn btn-primary">Save</button>
        </EditForm>
        } else {
            //Bootstrap code where the alert box is based on the status class.
            <div class="alert @StatusClass">@Message</div>
            <a class="btn btn-primary" @onclick="@NavigationToOverview">Back to Who Am I</a>
        }


    </section>
}

